td, th {
  text-align: center;
  padding: 0.65em;
}

table {
  width: 100%;
}

.dataRow:hover {
  background-color: #eeeeee;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-form-field {
  width: 29vw;
}

.tab-group {
  max-width: 600px !important;
  margin: auto;
}

.example-form-field {
  width: 45%;
}

#deleteModal {
  background: rgba(0, 0, 0, 0.5);
}

.capot-checkbox {
  margin-left: 10vw;
}

.scoreFormField {
  width: 90.5% !important;
}
