<div class="modal" 
        id="deleteModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="deleteModalLabel" 
        aria-hidden="true"
        [style.display]="confirmDelete ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="selectedTab===0" class="modal-title" id="deleteModalLabel">
          Delete {{toDeleteTeams?.team1Name}}'s and {{toDeleteTeams?.team2Name}}'s game?
        </h5>
        <h5 *ngIf="selectedTab===1" class="modal-title text-center w-100" id="deleteModalLabel">
          Delete hand? <br>
          <span>Bettor: {{toDeleteHand?.bettor}}</span><br>
          <span>Bet: {{toDeleteHand?.bet}}</span> <br>
          <span>Suit: {{toDeleteHand?.suit}}</span><br>            
        </h5>
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close"
                (click)="toggleDelete()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="toggleDelete()">Cancel</button>
        <button *ngIf="selectedTab===0" type="button" class="btn btn-danger"
                (click)="deleteGame()">Delete</button>
        <button *ngIf="selectedTab===1" type="button" class="btn btn-danger"
                (click)="deleteHand()">Delete</button>
      </div>
    </div>
  </div>
</div>

<br>
<div>
  <button *ngIf="selectedTab===0"
          mat-raised-button color="primary" (click)="createGame()"
          [disabled]="editMode">Create game</button>
  <button *ngIf="selectedTab===1" 
          mat-raised-button color="primary" (click)="createHand()"
          [disabled]="editMode">+ New Hand</button>
  <mat-slide-toggle class="float-right" [checked]="editMode" color="warn" 
          (change)="toggleEdit()">Toggle Edit</mat-slide-toggle>
</div>

<br>

<mat-tab-group class="tab-group" [(selectedIndex)]="selectedTab">
  <mat-tab>
    <ng-template mat-tab-label>
      <span>Games</span>
    </ng-template>
    <table class="mat-table mat-elevation-z8">
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell"> Team1Name</th>
          <th class="mat-header-cell"> Score </th>
          <th class="mat-header-cell"> Team2Name </th>
          <th class="mat-header-cell"> Score </th>
          <th class="mat-header-cell" style="width: 1%" *ngIf="editMode"></th>
        </tr>
        </thead>
      <tbody>
        <tr class="mat-row dataRow" *ngFor="let game of games; let i = index" 
            (click)="openGame(game, i)"
            style="cursor: pointer;">    
          <td class="mat-cell" [style.background-color]=" false ? '#acffac' : 'none'">
            {{game.value.teams?.team1Name.length > 9 ? 
              game.value.teams?.team1Name.substring(0,9)+'...' :
              game.value.teams?.team1Name}}</td>
          <td class="mat-cell">{{game.value.teams?.team1Score}}</td>
          <td class="mat-cell" [style.background-color]="false ? '#acffac' : 'none'">
            {{game.value.teams?.team2Name.length > 9 ? 
              game.value.teams?.team2Name.substring(0,9)+'...' :
              game.value.teams?.team2Name}}</td>
          <td class="mat-cell">{{game.value.teams?.team2Score}}</td>
          <td class="mat-cell" style="padding:0 10px;" *ngIf="editMode">
            <button class="btn btn-sm btn-danger" 
            (click)="updateDeleteItems(game.value.teams,i); toggleDelete(); $event.stopPropagation()">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab *ngIf="selectedTab > 0">
    <ng-template mat-tab-label  style="visibility: hidden">
      Hands
    </ng-template>      
    <table class="mat-table mat-elevation-z8">
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell">Bettor</th>
          <th class="mat-header-cell">Bet</th>
          <th class="mat-header-cell">Suit</th>
          <th class="mat-header-cell">
            {{currentGame.teams.team1Name.length > 9 ?
            currentGame.teams.team1Name.substring(0,9)+'...' :
            currentGame.teams.team1Name}}</th>
          <th class="mat-header-cell">
            {{currentGame.teams.team2Name.length > 9 ?
            currentGame.teams.team2Name.substring(0,9)+'...' :
            currentGame.teams.team2Name}}</th>
        </tr>
        </thead>
      <tbody>
        <tr class="mat-row dataRow" *ngFor="let hand of currentGame.hands; let i = index" 
            style="cursor: pointer;"
            (click)="openHand(hand, i)">
  
          <td class="mat-cell">
            {{hand.bettor.length > 9 ?
              hand.bettor.substring(0,9)+'...' :
              hand.bettor}}</td>
          <td class="mat-cell">{{hand.bet}}</td>
          <td class="mat-cell">
            <img *ngIf="hand.suit !== 'None'" src="../../../assets/images/{{hand.suit}}.png" alt="{{hand.suit}}">
            <div *ngIf="hand.suit === 'None'">None</div>
          </td>
          <td class="mat-cell" [ngStyle]="getColors(hand, 1)">{{hand.team1Score}}</td>
          <td class="mat-cell" [ngStyle]="getColors(hand, 2)">{{hand.team2Score}}</td>
          <td class="mat-cell" style="padding:0 10px;" *ngIf="editMode">
            <button class="btn btn-sm btn-danger" 
            (click)="updateDeleteHand(hand, i); toggleDelete(); $event.stopPropagation();">X</button>
          </td>
        </tr>
        <tr class="mat-row border-top" >
          <td class="mat-cell"></td>
          <td class="mat-cell"></td>
          <td class="mat-cell"></td>
          <td class="mat-cell">{{currentGame.teams.team1Score}}</td>
          <td class="mat-cell">{{currentGame.teams.team2Score}}</td>
        </tr>
      </tbody>
    </table>
  </mat-tab>
  
  <mat-tab *ngIf="selectedTab === 2">
    <ng-template mat-tab-label  style="visibility: hidden">
      Hand
    </ng-template>
    <br>
    <!-- Form fields -->
    <mat-form-field class="example-form-field">
      <input #nameInput1 matInput type="text" placeholder="Team 1" 
              [(ngModel)]="team1"
              (keyup)="checkNames()"
              required />
      <button mat-button *ngIf="team1" 
              matSuffix mat-icon-button aria-label="Clear" 
              (click)="team1='';changed=true;">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <input #nameInput2 matInput type="text" placeholder="Team 2" 
              [(ngModel)]="team2"
              (keyup)="checkNames()"
              required />
      <button mat-button *ngIf="team2" 
              matSuffix mat-icon-button aria-label="Clear" 
              (click)="team2='';changed=true;">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    
      <mat-form-field class="example-form-field">
        <input matInput type="number" max="162" min="80" 
                placeholder="Bet" [(ngModel)]="testHand.bet" required
                (change)="changed = true"
                changed = true/>                 
        <button mat-button *ngIf="testHand.bet" 
                matSuffix mat-icon-button aria-label="Clear" (click)="testHand.bet='';changed=true;">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>   

      <mat-form-field class="example-form-field">
          <mat-select placeholder="Bettor" [(ngModel)]="testHand.bettor" (change)="changed = true">
            <mat-option [value]="team1">
              {{team1.length > 9 ?
                team1.substring(0,9)+'...' :
                team1}}</mat-option>
            <mat-option [value]="team2">
              {{team2.length > 9 ?
                team2.substring(0,9)+'...' :
                team2}}</mat-option>
          </mat-select>
      </mat-form-field>    

      <mat-form-field class="example-form-field">
        <mat-select placeholder="Suit" [(ngModel)]="testHand.suit" (change)="changed=true">
            <mat-option *ngFor="let suit of suits"  [value]="suit">{{suit}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-select placeholder="Special" [(ngModel)]="testHand.special" 
                    (change)="updateMultiplier($event.value);changed=true">
          <mat-option value="">None</mat-option>
          <mat-option value="Coincher">Coincher</mat-option>
          <mat-option value="Sur-Coincher">Sur-Coincher</mat-option>
        </mat-select>
      </mat-form-field> 

      <mat-form-field class="example-form-field">
        <input matInput type="number" max="162" min="0" 
                placeholder="{{team1.length > 9 ?
                                team1.substring(0,9)+'...' :
                                team1}} Score" 
                [(ngModel)]="testHand.team1Score" 
                (keyup)="updateTeamScores(1); changed = true"
                />
        <button mat-button *ngIf="testHand.team1Score" 
                matSuffix mat-icon-button aria-label="Clear" 
                (click)="testHand.team1Score=0;testHand.team2Score=162;changed=true;">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <input matInput type="number" max="162" min="0" 
                placeholder="{{team2.length > 9 ?
                                team2.substring(0,9)+'...' :
                                team2}} Score" 
                [(ngModel)]="testHand.team2Score" 
                (keyup)="updateTeamScores(2); changed = true"
                />
        <button mat-button *ngIf="testHand.team2Score" 
                matSuffix mat-icon-button aria-label="Clear" 
                (click)="testHand.team2Score=0;testHand.team1Score=162;changed=true;">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <input matInput type="number" min="0" 
                placeholder="{{team1.length > 9 ?
                                team1.substring(0,9)+'...' :
                                team1}} Bonus" 
                [(ngModel)]="testHand.team1Bonus" 
                (change)="updateTeamScores(1); changed = true"
                />
        <button mat-button *ngIf="testHand.team1Bonus" 
                matSuffix mat-icon-button aria-label="Clear" 
                (click)="testHand.team1Bonus=0; changed=true;">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <input matInput type="number" min="0" 
                placeholder="{{team2.length > 9 ?
                                team2.substring(0,9)+'...' :
                                team2}} Bonus" 
                [(ngModel)]="testHand.team2Bonus" 
                (change)="updateTeamScores(2); changed = true"
                />
        <button mat-button *ngIf="testHand.team2Bonus" 
                matSuffix mat-icon-button aria-label="Clear" 
                (click)="testHand.team2Bonus=0; changed=true;">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <br>
      <!-- Removed the below condition because when changing team name that was also
      the bettor, button remained disabled -->
      <!-- (testHand.bettor !== team1 && 
        testHand.bettor !== team2) || -->
      <fieldset #field [disabled]="!changed || testHand.bet < 80 || 
        team1==='' || team2==='' ||
        testHand.team1Score < 0 || testHand.team1Score > 162 || 
        testHand.team2Score < 0 || testHand.team2Score > 162 || 
        (testHand.team1Score + testHand.team2Score !== 162) ||        
        testHand.bet > 162 || !testHand.bettor || 
        testHand.team1Bonus < 0 || testHand.team2Bonus < 0">
        <button mat-raised-button color="primary"
          [disabled]="field.disabled"
          (click)="updateGame()">
          {{newHand ? 'Create Hand' : currentGameId ? 'Update' : 'Create Game'}}</button>
      </fieldset>
        
  </mat-tab>
</mat-tab-group>

