<div class="modal" 
      id="exampleModal2" 
      tabindex="-1" 
      role="dialog" 
      aria-labelledby="exampleModalLabel" 
      aria-hidden="true"
      [style.display]="httpService.checkingUserInfo ? 'block' : 'none'">
  <div class="modal-dialog" style="margin-top: 60%; text-align: -webkit-center;" role="document">
    <div class="modal-content" style="background-color: transparent; border: none;">
        <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value">
      </mat-progress-spinner>
    </div>
  </div>
</div>